n8n-workflows/WF-3-refactor-handler.json
{
  "name": "Fleet Dispatcher - WF-3 RefactorHandler",
  "nodes": [
    {
      "id": "wf3-input-001",
      "name": "Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "wf3-code-clone-detector-001",
      "name": "Code Clone Detector",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 150],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AURA_SKILLS_URL }}/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MCP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"tool_name\": \"code_clone_detector\", \"args\": {\"project_root\": \".\"}}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "wf3-refactoring-advisor-001",
      "name": "Refactoring Advisor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AURA_SKILLS_URL }}/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MCP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"tool_name\": \"refactoring_advisor\", \"args\": {\"project_root\": \".\"}}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "wf3-tech-debt-quantifier-001",
      "name": "Tech Debt Quantifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 450],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AURA_SKILLS_URL }}/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MCP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"tool_name\": \"tech_debt_quantifier\", \"args\": {\"project_root\": \".\"}}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "wf3-merge-001",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [750, 300],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      }
    },
    {
      "id": "wf3-set-001",
      "name": "Build Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf3-assign-skills-output",
              "name": "skills_output",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "wf3-assign-analyst-context",
              "name": "analyst_context",
              "value": "={{ JSON.stringify({issue_number: $node[\"Input\"].json.issue_number, issue_type: $node[\"Input\"].json.issue_type, title: $node[\"Input\"].json.title, body: $node[\"Input\"].json.body, skills_output: $json}) }}",
              "type": "string"
            }
          ]
        },
        "include": "all",
        "options": {}
      }
    },
    {
      "id": "wf3-execute-wf6-001",
      "name": "Execute WF-6",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1250, 300],
      "parameters": {
        "workflowId": "WF-6-code-gen-pr-push",
        "options": {
          "waitForSubWorkflow": true
        }
      }
    }
  ],
  "connections": {
    "Input": {
      "main": [
        [
          {"node": "Code Clone Detector", "type": "main", "index": 0},
          {"node": "Refactoring Advisor", "type": "main", "index": 0},
          {"node": "Tech Debt Quantifier", "type": "main", "index": 0}
        ]
      ]
    },
    "Code Clone Detector": {
      "main": [
        [{"node": "Merge", "type": "main", "index": 0}]
      ]
    },
    "Refactoring Advisor": {
      "main": [
        [{"node": "Merge", "type": "main", "index": 1}]
      ]
    },
    "Tech Debt Quantifier": {
      "main": [
        [{"node": "Merge", "type": "main", "index": 2}]
      ]
    },
    "Merge": {
      "main": [
        [{"node": "Build Context", "type": "main", "index": 0}]
      ]
    },
    "Build Context": {
      "main": [
        [{"node": "Execute WF-6", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "fleet-dispatcher"
  }
}
